# Proxmox API
PROXMOX_HOST=https://192.168.9.x:8006
PROXMOX_TOKEN=root@pam!token-name=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# NetBox API
NETBOX_URL=http://localhost:8000
NETBOX_TOKEN=nbt_xxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Sync Configuration
CLUSTER_NAME=pxmx-cluster
DEFAULT_TENANT=Infrastructure
